{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "quotes": 0,
    "block-spacing": 0,
    "no-else-return": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "object-curly-spacing": 0,
    "key-spacing": 0
    }
}
